.sidebar {
  flex: 0 1 20%;
  margin-bottom: 30px;
  padding-right: 30px;
  &-search-input {
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
  }
  &-search-title {
    margin: 20px 0 10px 0;
    font-size: 16px;
    @media (max-width: 1024px) {
      margin-left: 10px;
    }
  }
  &-history-search-item {
    margin-bottom: 5px;
    @media (max-width: 1024px) {
      margin-left: 10px;
    }
  }
}
